h1,
h2,
h3,
h4,
p,
li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 24px;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

/*
Decendent Selector
*/
footer p {
  font-size: 16px;
}

/*
Decendent Selector
*/
article header p {
  font-style: italic;
}
